section {
	padding: 20px 0 60px 0;
}

section h2 {
	margin: 0;
	font-size: 2em;
	text-align: left;
}

section.success {
	color: #fff;
	background: #CBF2BC;
}

section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
	outline: 0;
	color: #2c3e50;
}

@media(max-width:767px) {
	section {
		padding: 0px 0;
	}

	section.first {
		padding-top: 75px;
	}
}