<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width; initial-scale = 1.0; maximum-scale=1.0; user-scalable=no" />
	<meta name="description" content="">
	<meta name="author" content="">
	<title>STiM - Spanish Teachers in Málaga</title>

	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet" type="text/css">
	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
	
	<link href="css/navbar.css" rel="stylesheet">
	<link href="css/general.css" rel="stylesheet">
</head>

<body id="legales" ng-app='stimApp' ng-controller='stimController'>



	<header>
		<div class="col-lg-12 logo">
			<img class="img-responsive" src="img/logo_color.svg" alt="">
		</div>
	</header>
	<section class="container">
		<div class="idiomas">
			<div ng-repeat="idiomax in textos.idiomas " class="idioma"  ng-click="cambiaridioma($index)" ng-class="idioma != $index || 'idioma-activo'" >{{idiomax.idioma}}</div>
		</div>
		
		<div class="row">
				<div class="col-lg-12 ">
					<h1>{{textos.idiomas[idioma].legales.pagina_cookies.titulo}}</h1>
				</div>
		</div>

<!-- POSIBILIDAD 1 -->

	<div ng-bind-html="textos.idiomas[idioma].legales.pagina_cookies.cero"></div>
	<div ng-bind-html="textos.idiomas[idioma].legales.pagina_cookies.uno"></div>
	<div ng-bind-html="textos.idiomas[idioma].legales.pagina_cookies.dos"></div>
	<div ng-bind-html="textos.idiomas[idioma].legales.pagina_cookies.tres"></div>
	<div ng-bind-html="textos.idiomas[idioma].legales.pagina_cookies.cuatro"></div>
	
	</section>


<!-- POSIBILIDAD 2 

Utilizamos cookies para facilitar el uso de nuestra página web. Las cookies son pequeños ficheros de información que nos permiten comparar y entender cómo nuestros usuarios navegan a través de nuestra página web, y de esta manera poder mejorar consecuentemente el proceso de navegación. Las cookies que utilizamos no almacenan dato personal alguno, ni ningún tipo de información que pueda identificarle. En caso de no querer recibir cookies, por favor configure su navegador de Internet para que las borre del disco duro de su ordenador, las bloquee o le avise en caso de instalación de las mismas. Para continuar sin cambios en la configuración de las cookies, simplemente continúe en la página web. 

Puedes obtener más información sobre las cookies y su uso en www.aboutcookies.org. 

Los tipos de cookies que utilizamos 

Cookies estrictamente necesarias: 
Estas cookies son necesarias para el correcto uso de la página web, permitiendo el acceso a secciones que cuentan con filtros de seguridad. Sin estas cookies, muchos de los servicios disponibles no estarían operativos. 

Cookies de Navegación: 
Estas cookies recogen información sobre el uso que las visitas hacen de la web, por ejemplo páginas vistas, errores de carga... Es información genérica y anónima, donde no se incluyen datos personales, ni se recoge información que identifique a los visitantes; siendo el objetivo último mejorar el funcionamiento de la web. Al visitar nuestra página web, acepta la instalación de estas cookies en su dispositivo. 

Cookies Funcionales: 
Estas cookies permiten recordar información (como su nombre de usuario, idioma o la región en la que se encuentra) y características más personales. Por ejemplo, la posibilidad de ofrecer contenido personalizado basado en la información y criterios que hayas proporcionado voluntariamente. Estas cookies también pueden utilizarse para recordar los cambios realizados en el tamaño del texto, fuentes y otras partes personalizables de la página web. También se utilizan para ofrecer algunos servicios solicitados, como ver un video o comentar en un blog. La información que recopilan estas cookies puede ser anónima y no podrá ser seguida su actividad en otras páginas web. Al visitar nuestra página web, aceptas la instalación de estas cookies en tu dispositivo. 

Cómo administrar las cookies en los ordenadores 

Si quieres permitir el uso de cookies de nuestro site, por favor sigue las siguientes instrucciones.
Google Chrome 
1. Al abrir el navegador, pincha “herramientas” en la parte superior y selecciona la pestaña de “opciones”.
2. Dentro de opciones, pincha “privacidad”.
3. Marca “permitir la administración de cookies”.

Microsoft Internet Explorer 6.0, 7.0, 8.0, 9.0 
1. Al abrir el navegador, pincha “herramientas” en la parte superior y selecciona la pestaña de “opciones”.
2. Revisa la pestaña de “Privacidad” asegurándote está configurada con un nivel de seguridad medio o inferior.
3. Si la configuración de Internet no es media se estarán bloqueando las cookies.

Mozilla Firefox 
1. Al abrir el navegador, pincha “herramientas” en la parte superior y selecciona la pestaña de “opciones”.
2. Selecciona el icono de Privacidad
3. Pincha en cookies, y marca: “permitir la instalación de cookies”.

Safari 
1. Al abrir el navegador, pincha “herramientas” en la parte superior y selecciona la pestaña de “opciones”.
2. Pincha en la pestaña de “Seguridad” y revisa si la opción “Bloquear el acceso de cookies de terceros” está marcada o no.
3. Pincha en “guardar”.

La instalación de cookies en Mac 

Si tienes un Mac y quieres permitir el acceso de nuestras cookies en tu ordenador, por favor sigue las siguientes instrucciones: 

Microsoft Internet Explorer 5.0 en OSX 
1. Entra en “Explorer” y selecciona “Preferencias” en la barra de navegación.
2. Haz scroll hacia abajo hasta que veas “Cookies” justo debajo de archivos recibidos.
3. Marca “No volver a preguntar”.

Safari en OSX 
1. Entra en Safari y selecciona “Preferencias” en la barra de navegación.
2.Pincha en la pestaña de “Seguridad” y marcae la opción “aceptar cookies” 
3. Selecciona la opción: “Sólo desde el site actual en que estoy navegando”

Mozilla y Netscape en OSX 
1. Entra en “Mozilla” o “Netscape” y en la parte superior de tu navegador, marca la opción de “Preferencias”
2. Haz scroll hacia abajo hasta que veas “Cookies” justo debajo de “Privacidad y Seguridad”.
3. Marca la opción “Permitir el acceso de cookies sólo desde el site actual”

Opera 
1. Entra en “Opera” y selecciona “Menu” y “Ajustes” en la barra de navegación.
2. Selecciona “Preferencias” y pincha en la pestaña de “Avanzado”.
3. Marca la opción “Aceptar cookies”  -->
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.min.js"></script>
	<script src="js/stimapp.js"></script>

</body>

</html>
